li:hover {
  background-color: #674904;
  transition: 0.5s;
  border-radius: 10px;
}

.search-box {
  width: fit-content; /* İçeriğe göre genişlik ayarlar */
  height: fit-content; /* İçeriğe göre genişlik ayarlar */
  position: relative;
}

/* Arama kutusu input elementinin stili */
.input-search {
  height: 50px; /* Yükseklik ayarı */
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}

/* Placeholder stili */
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

/* Arama butonunun stili */
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

/* Buton fokus olduğunda arama kutusunu genişletir ve stilini değiştirir */
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* Arama kutusu fokus olduğunda stil değişimi */
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

/* Tüm elementlerin kutu boyutlandırmasını standart hale getirir */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.specialdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  
  &.blue {
    background-color: #d00c0c;
  }
}

input[type=radio] {
  display: none;
}

/* Konteynerin stil tanımı */
.container {
  width: 100%;
  max-width: 650px;
  max-height: 1000px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#item-1:checked ~ .cards #kitap-1,
#item-2:checked ~ .cards #kitap-2,
#item-3:checked ~ .cards #kitap-3,
#item-4:checked ~ .cards #kitap-4,
#item-5:checked ~ .cards #kitap-5,
#item-6:checked ~ .cards #kitap-6 {
  transform: translateX(0) scale(1);  /* Kitaplar merkeze gelir ve büyür */
  opacity: 1;
  z-index: 1;
}

/* Kartların yerleşimi ve stil tanımları */
.cards {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

/* Resimlerin düzeni ve stili */
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Sırasıyla tüm kitapların kayması için */
#item-1:checked ~ .cards #kitap-1,
#item-2:checked ~ .cards #kitap-2,
#item-3:checked ~ .cards #kitap-3,
#item-4:checked ~ .cards #kitap-4,
#item-5:checked ~ .cards #kitap-5,
#item-6:checked ~ .cards #kitap-6 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #kitap-2,
#item-2:checked ~ .cards #kitap-3,
#item-3:checked ~ .cards #kitap-4,
#item-4:checked ~ .cards #kitap-5,
#item-5:checked ~ .cards #kitap-6,
#item-6:checked ~ .cards #kitap-1 {
  transform: translateX(30%) scale(.8);
  opacity: .1;
  z-index: 0;
}


#item-1:checked ~ .cards #kitap-3,
#item-2:checked ~ .cards #kitap-4,
#item-3:checked ~ .cards #kitap-5,
#item-4:checked ~ .cards #kitap-6,
#item-5:checked ~ .cards #kitap-1,
#item-6:checked ~ .cards #kitap-2 {
  transform: translateX(60%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-4,
#item-2:checked ~ .cards #kitap-5,
#item-3:checked ~ .cards #kitap-6,
#item-4:checked ~ .cards #kitap-1,
#item-5:checked ~ .cards #kitap-2,
#item-6:checked ~ .cards #kitap-3 {
  transform: translateX(90%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-5,
#item-2:checked ~ .cards #kitap-6,
#item-3:checked ~ .cards #kitap-1,
#item-4:checked ~ .cards #kitap-2,
#item-5:checked ~ .cards #kitap-3,
#item-6:checked ~ .cards #kitap-4 {
  transform: translateX(-30%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-6,
#item-2:checked ~ .cards #kitap-1,
#item-3:checked ~ .cards #kitap-2,
#item-4:checked ~ .cards #kitap-3,
#item-5:checked ~ .cards #kitap-4,
#item-6:checked ~ .cards #kitap-5 {
  transform: translateX(-60%) scale(.8);
  opacity: .1;
  z-index: 0;
}


#item-1:checked ~ .cards #kitap-1, #item-2:checked ~ .cards #kitap-2, #item-3:checked ~ .cards #kitap-3,
 #item-4:checked ~ .cards #kitap-4, #item-5:checked ~ .cards #kitap-5, #item-6:checked ~ .cards #kitap-6  {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/* Kartların ileri/geri hareketini sağlar */
.arrows {
  display: flex;
  justify-content: space-between;
  width: 200%;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #428aa6;
}

.arrow:focus {
    outline: none;
}

<<<<<<< Updated upstream
/* Kitap kartlarının düzeni */
.book-container {
  margin-top: 50px; /* Kitapların üstüne boşluk bırakır */
=======
.book-container {
  margin-top: 50px; /* Kitapların üstüne biraz boşluk bırak */
>>>>>>> Stashed changes
  padding: 20px; /* Kenar boşluğu */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Kartları yatayda eşit şekilde dağıtır */
}

.book-grid {
  display: flex;
  flex-wrap: wrap;  /* Kartların alt alta dizilmesini sağlar */
  justify-content: center; /* Kartları ortalar */
  width: 200vw;  /* Genişliği sayfanın tamamı kadar yapar */
}

<<<<<<< Updated upstream
/* Kitap kartları ve içeriği */
.book-card {
  background-color: #f8f9fa;   /* Arka plan rengi */
=======
.book-card {
  background-color: #f8f9fa; /* Arka plan rengi */
>>>>>>> Stashed changes
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 40px);   /* Kart genişliği, 4 kart yan yana */
  height: 700px;
  margin: 10px;   /* Kartlar arasında boşluk bırakır */
  padding: 20px;
  text-align: center;   /* Kart içeriğini ortalar */
  transition: transform 0.3s ease;
}

<<<<<<< Updated upstream
/* Kitap resmi */
.book-card img {
  max-width: 100%;   /* Resmin kartın genişliğini doldurmasını sağlar */
=======
.book-card img {
  max-width: 100%; /* Resmin kartın genişliğini doldurmasını sağlar */
>>>>>>> Stashed changes
  border-radius: 10px;
  max-height: 350px;
}

<<<<<<< Updated upstream
/* Kitap açıklaması */
=======
>>>>>>> Stashed changes
.book-card h2 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.book-card p {
  font-size: 0.75rem;
  color: #666;
}

<<<<<<< Updated upstream
/* Üzerine gelindiğinde kartı büyütür */
.book-card:hover {
  transform: scale(1.2); 
=======
.book-card:hover {
  transform: scale(1.3); /* Üzerine gelindiğinde kartı büyüt */
>>>>>>> Stashed changes
} 
