
body { /* Arka plan rengi */
  background-color: black;
  color: white;
}
.theme-text {  /* Varsayılan tema için yazıların beyaz olmasını sağlar */
  color: white;
}

body.light-theme {  /* Light tema için body etiketi ayarları */
  background-color: rgb(251, 246, 246);
  color: rgb(8, 8, 8);
}
body.light-theme .theme-text {
  color: rgb(9, 9, 9);
}
* {
  transition: background-color 0.5s, color 0.5s;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 { /* Başlık ve paragraf etiketlerinin metin rengini siyah yapar */
  color: #000;
}
li:hover {
  background-color: #674904;
  transition: 0.5s;
  border-radius: 10px;
}
.search-box {  /* Arama kutusu */
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {    /* Arama kutusu içine yazılan metin kutusunun stili */
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #22a6b3;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {  /* Arama kutusuna yazılan placeholder metnin stili */
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {  /* Arama butonunun stili */
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search { /* Fare olaylarını etkinleştirir */
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus { /* Arama butonuna odaklanıldığında arama kutusunun genişliğini arttırır */
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.wrapper {
  height: 50px;
}
#hide-checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}
.toggle {  /* Temayı değiştiren butonun stili */
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 100px; /*200px*/
  height: 50px; /*100px*/
  background: #211042;
  border-radius: 50px;
  transition: 500ms;
  overflow: hidden;
}
.toggle-button {  /* Butonun hareket eden kısmını belirler */
  position: absolute; 
  display: inline-block;
  top: 7px;
  left: 6px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: #faeaf1;
  overflow: hidden;
  box-shadow: 0 0 35px 4px rgba(255, 255, 255);
  transition: all 500ms ease-out;
}
.crater {  /* Kraterler (buton içindeki küçük yuvarlaklar) için stil */
  position: absolute;
  display: inline-block;
  background: #faeaf1;
  border-radius: 50%;
  transition: 500ms;
}
.crater-1 {
  background: #fffff9;
  width: 86px;
  height: 86px;
  left: 10px;
  bottom: 10px;
}
.crater-2 {
  width: 20px;
  height: 20px;
  top: -7px;
  left: 44px;
}
.crater-3 {
  width: 16px;
  height: 16px;
  top: 20px;
  right: -4px;
}
.crater-4 {
  width: 10px;
  height: 10px;
  top: 24px;
  left: 30px;
}
.crater-5 {
  width: 15px;
  height: 15px;
  top: 40px;
  left: 48px;
}
.crater-6 {
  width: 10px;
  height: 10px;
  top: 48px;
  left: 20px;
}
.crater-7 {
  width: 12px;
  height: 12px;
  bottom: 5px;
  left: 35px;
}
.star {   /* Yıldızlar için stil ayarları */
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}
.star-1 {  /* Farklı yıldızların boyut ve konum ayarları */
  width: 6px;
  height: 6px;
  right: 90px;
  bottom: 40px;
}
.star-2 {
  width: 8px;
  height: 8px;
  right: 70px;
  top: 10px;
}
.star-3 {
  width: 5px;
  height: 5px;
  right: 60px;
  bottom: 15px;
}
.star-4 {
  width: 3px;
  height: 3px;
  right: 40px;
  bottom: 50px;
}
.star-5 {
  width: 4px;
  height: 4px;
  right: 10px;
  bottom: 35px;
}
.star-6,     /* Hareket eden yıldızlar için ayarlar */
.star-7,
.star-8 {
  width: 10px;
  height: 2px;
  border-radius: 2px;
  transform: rotate(-45deg);
  box-shadow: 5px 0px 4px 1px #fff;
  animation-name: travel;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.star-6 {
  right: 30px;
  bottom: 30px;
  animation-delay: -2s;
}
.star-7 {
  right: 50px;
  bottom: 60px;
}
.star-8 {
  right: 90px;
  top: 10px;
  animation-delay: -4s;
}
@keyframes travel {      /* Yıldızların hareket etmesini sağlayan animasyon */
  0% {
    transform: rotate(-45deg) translateX(70px);
  }
  50% {
    transform: rotate(-45deg) translateX(-20px);
    box-shadow: 5px 0px 6px 1px #fff;
  }
  100% {
    transform: rotate(-45deg) translateX(-30px);
    width: 2px;
    height: 2px;
    opacity: 0;
    box-shadow: none;
  }
}
#hide-checkbox:checked + .toggle {   /* Buton kontrolü için görünmez bir checkbox */
  background: #24d7f7;
}
#hide-checkbox:checked + .toggle .toggle-button {
  background: #f7ffff;
  transform: translateX(102px);
  box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}
/* Checkbox işaretlendiğinde kraterlerin hareketini sağlar */
#hide-checkbox:checked + .toggle .toggle-button .crater {
  transform: rotate(-45deg) translateX(70px);
}
#hide-checkbox:checked + .toggle .star {
  animation: move 2s infinite;
  transform: none;
  box-shadow: none;
}
#hide-checkbox:checked + .toggle .star-1 {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  left: 20px;
  top: 25px;
  box-shadow: none;
}
#hide-checkbox:checked + .toggle .star-2 {
  width: 12px;
  height: 12px;
  background: #fff;
  left: 26px;
  top: 23px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
#hide-checkbox:checked + .toggle .star-3 {
  width: 16px;
  height: 16px;
  background: #fff;
  left: 35px;
  top: 19px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
#hide-checkbox:checked + .toggle .star-4 {
  width: 14px;
  height: 14px;
  background: #fff;
  left: 46px;
  top: 21px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
#hide-checkbox:checked + .toggle .star-5 {
  width: 60px;
  height: 15px;
  border-radius: 15px;
  background: #fff;
  left: 30px;
  bottom: 20px;
  box-shadow: none;
}
#hide-checkbox:checked + .toggle .star-6 {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  left: 38px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
#hide-checkbox:checked + .toggle .star-7 {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  left: 52px;
  bottom: 20px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
#hide-checkbox:checked + .toggle .star-8 {
  width: 21px;
  height: 21px;
  background: #fff;
  border-radius: 50%;
  left: 70px;
  top: 59px;
  box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}
@keyframes move {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}
.wrapper p {
  text-align: center;
  letter-spacing: 15px;
  background: #34495e;
  color: #fff;
}
.wrapper p.morning {
  background: #e67e22;
}

/* Tüm elementlerin kutu boyutlandırmasını standart hale getirir */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.specialdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  
  &.blue {
    background-color: #428aa6;
  }
}

input[type=radio] {
  display: none;
}

/* Konteynerin stil tanımı */
.container {
  width: 100%;
  max-width: 650px;
  max-height: 1000px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#item-1:checked ~ .cards #kitap-1,
#item-2:checked ~ .cards #kitap-2,
#item-3:checked ~ .cards #kitap-3,
#item-4:checked ~ .cards #kitap-4,
#item-5:checked ~ .cards #kitap-5,
#item-6:checked ~ .cards #kitap-6 {
  transform: translateX(0) scale(1);  /* Kitaplar merkeze gelir ve büyür */
  opacity: 1;
  z-index: 1;
}

/* Kartların yerleşimi ve stil tanımları */
.cards {
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

/* Resimlerin düzeni ve stili */
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Sırasıyla tüm kitapların kayması için */
#item-1:checked ~ .cards #kitap-1,
#item-2:checked ~ .cards #kitap-2,
#item-3:checked ~ .cards #kitap-3,
#item-4:checked ~ .cards #kitap-4,
#item-5:checked ~ .cards #kitap-5,
#item-6:checked ~ .cards #kitap-6 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #kitap-2,
#item-2:checked ~ .cards #kitap-3,
#item-3:checked ~ .cards #kitap-4,
#item-4:checked ~ .cards #kitap-5,
#item-5:checked ~ .cards #kitap-6,
#item-6:checked ~ .cards #kitap-1 {
  transform: translateX(30%) scale(.8);
  opacity: .1;
  z-index: 0;
}


#item-1:checked ~ .cards #kitap-3,
#item-2:checked ~ .cards #kitap-4,
#item-3:checked ~ .cards #kitap-5,
#item-4:checked ~ .cards #kitap-6,
#item-5:checked ~ .cards #kitap-1,
#item-6:checked ~ .cards #kitap-2 {
  transform: translateX(60%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-4,
#item-2:checked ~ .cards #kitap-5,
#item-3:checked ~ .cards #kitap-6,
#item-4:checked ~ .cards #kitap-1,
#item-5:checked ~ .cards #kitap-2,
#item-6:checked ~ .cards #kitap-3 {
  transform: translateX(90%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-5,
#item-2:checked ~ .cards #kitap-6,
#item-3:checked ~ .cards #kitap-1,
#item-4:checked ~ .cards #kitap-2,
#item-5:checked ~ .cards #kitap-3,
#item-6:checked ~ .cards #kitap-4 {
  transform: translateX(-30%) scale(.8);
  opacity: .1;
  z-index: 0;
}

#item-1:checked ~ .cards #kitap-6,
#item-2:checked ~ .cards #kitap-1,
#item-3:checked ~ .cards #kitap-2,
#item-4:checked ~ .cards #kitap-3,
#item-5:checked ~ .cards #kitap-4,
#item-6:checked ~ .cards #kitap-5 {
  transform: translateX(-60%) scale(.8);
  opacity: .1;
  z-index: 0;
}


#item-1:checked ~ .cards #kitap-1, #item-2:checked ~ .cards #kitap-2, #item-3:checked ~ .cards #kitap-3,
 #item-4:checked ~ .cards #kitap-4, #item-5:checked ~ .cards #kitap-5, #item-6:checked ~ .cards #kitap-6  {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

/* Kartların ileri/geri hareketini sağlar */
.arrows {
  display: flex;
  justify-content: space-between;
  width: 200%;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: #428aa6;
}

.arrow:focus {
    outline: none;
}

/* Kitap kartlarının düzeni */
.book-container {
  margin-top: 50px; /* Kitapların üstüne boşluk bırakır */
  padding: 20px; /* Kenar boşluğu */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Kartları yatayda eşit şekilde dağıtır */
}

.book-grid {
  display: flex;
  flex-wrap: wrap;  /* Kartların alt alta dizilmesini sağlar */
  justify-content: center; /* Kartları ortalar */
  width: 200vw;  /* Genişliği sayfanın tamamı kadar yapar */
}

/* Kitap kartları ve içeriği */
.book-card {
  background-color: #f8f9fa;   /* Arka plan rengi */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 40px);   /* Kart genişliği, 4 kart yan yana */
  height: 700px;
  margin: 10px;   /* Kartlar arasında boşluk bırakır */
  padding: 20px;
  text-align: center;   /* Kart içeriğini ortalar */
  transition: transform 0.3s ease;
}

/* Kitap resmi */
.book-card img {
  max-width: 100%;   /* Resmin kartın genişliğini doldurmasını sağlar */
  border-radius: 10px;
  max-height: 350px;
}

/* Kitap açıklaması */
.book-card h2 {
  font-size: 1.25rem;
  margin-top: 15px;
}

.book-card p {
  font-size: 0.75rem;
  color: #666;
}

/* Üzerine gelindiğinde kartı büyütür */
.book-card:hover {
  transform: scale(1.2); 
} 

@keyframes bounce {
  0%,
  20%,
  50% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(-15px);
  }
}
